<%= provide(:title, "About")%>

<div class="jumbotron">
	<h1>The Mask of Truth</h1>
	<p>A twitch bot</p>
</div>

<div class="progress progress-striped active">
	<div class="progress-bar" style="width: 5%"></div>
</div>
