<% provide(:title, "BTM") %>
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">The Mask of Truth</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li>TBA</li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="https://twitch.tv/bomb_mask">Bombmask</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">

  <div class="jumbotron">
    <h1>The Mask of Truth</h1>
    <p>A twitch bot</p>
  </div>
  

  <div class="panel panel-info">
    <div class="panel-heading">
      <h3 class="panel-title">This Page is Under Construction</h3>
    </div>
    <div class="panel-body">
      Bated has done most of the work getting this to work, now it's time for me to understand web development.
      
    </div>
  </div>
  <div class="well well-sm">
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">Placeholder</h3>
      </div>
      <div class="panel-body">
        <%= image_tag("placeholder.png", class: "img-responsive img-rounded" style: "max-height: 400px;") %>
      </div>
    </div>
  </div>
      

  <div class="progress progress-striped active">
    <div class="progress-bar" style="width: 45%"></div>
  </div>
</div>
