.wrap-text-hard {
    word-wrap: break-word;
    word-break: break-all;

}

button.btn-mt-share{
     //visibility: hidden;
     display: none;

 }
tr:hover button.btn-mt-share{
    //visibility: visible;
    display:inline-table;

    //position: absolute;

}
td.td-button {

}

#twitch-info {
    width: 61.8%;
    margin: 0 auto;
}

.form-width {
    width: 61.8%;

}
/*
#twitch-left {
    width: 50%;
    float: left;
}

#twitch-right {
    width: 50%;
    float: right;
}

#twitch-logo img {
    height: 100px;
    width: 100px;
    float: right;
}
*/